Repository voxpupuli/puppet-vault_lookup, pull requests merged in 2023-04, with the labels that each got.

#74 Prepare for release: 0.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#76 Allow field to be used with v1 data format
  README.md
  lib/puppet/functions/vault_lookup/lookup.rb
  spec/functions/lookup_spec.rb
Labels: enhancement

#81 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
