Repository voxpupuli/puppet-vault_lookup, pull requests merged in 2024-03, with the labels that each got.

#82 modulesync 7.3.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/release.yml
  .gitlab-ci.yml
  .msync.yml
  .pdkignore
  .pmtignore
  Gemfile
  appveyor.yml
  lib/puppet_x/vault_lookup/lookup.rb
  spec/acceptance/lookup_spec.rb
  spec/mock_vault_helper.rb
  spec/spec_helper.rb
Labels: modulesync

#95 Add CentOS 9 and Rocky and AlmaLinux 8 and 9 support
  metadata.json
Labels: enhancement

#92 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#93 Drop Debian 9 and 10 support
  metadata.json
Labels: backwards-incompatible

#94 Add Oracle Linux 8 and 9 support
  metadata.json
Labels: enhancement

#97 make webrick optional in sync.yml
  .sync.yml
Labels: bug

#98 modulesync 7.3.0
  .msync.yml
  Gemfile
Labels: modulesync
