Repository voxpupuli/puppet-vault_lookup, pull requests merged in 2025-06, with the labels that each got.

#122 feat(ruby): additional namespace parameter for multi-tenancy setups
  README.md
  lib/puppet/functions/vault_lookup/lookup.rb
  lib/puppet_x/vault_lookup/lookup.rb
  spec/functions/lookup_spec.rb
Labels: enhancement

#120 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#125 Fix beaker CI jobs
  .github/workflows/ci.yml
Labels: skip-changelog

#127 Add Debian 12 support
  metadata.json
Labels: enhancement

#128 Add Ubuntu 24.04 support
  metadata.json
Labels: enhancement

#130 Drop EoL CentOS 8
  metadata.json
Labels: backwards-incompatible

#129 Drop EoL Ubuntu 20.04
  metadata.json
Labels: backwards-incompatible
